.topnav {
    overflow: hidden;
}

input:focus {
    outline: none;
}

.search {
    position: absolute;
    margin: 12px 16px;
    padding: 2px;
    border: 2px solid black;
}

.input {
    background: none;
    border: none;
}

::placeholder {
    color: black;
    opacity: 1;
}


.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover{
    color: #34f315;
    text-shadow: 0px 0px 3px black;
}

.topnav .icon {
    display: none;

}

@media screen and (max-width: 750px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }

    }