.article{
    display: grid;
    grid-template-columns: 240px 1fr;
    margin: 50px;
}

.wrapper{
    margin-top: 50px;

}

.news_image{
    width: auto;
    height: 180px;
    max-width: 200px;
}
/*.wrapper{*/
    /*display: grid;*/
    /*grid-gap: 30px;*/
    /*grid-template-columns: auto auto auto;*/
    /*margin-top: 30px;*/
    /*padding-bottom: 70px;*/
/*}*/

/*.article{*/
    /*text-align: center;*/
    /*color: black;*/
    /*width: 100%;*/
    /*max-width: 500px;*/
    /*margin: 0 auto;*/


/*}*/

/*.article_back{*/
    /*width: 508px;*/
    /*height: 35px;*/
    /*margin: 0 auto;*/
    /*background: #34f315;*/
/*}*/

.pagina_no{
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.pagina_no a, .pagina_no p {
    text-decoration: none;

}

/*.news_image{*/
    /*width: 100%;*/
    /*max-width: 500px;*/
    /*height: auto;*/
    /*background-size: cover;*/
    /*border: 4px solid  #34f315;*/


/*}*/


/*@media screen and (max-width: 1600px) {*/
    /*.wrapper{*/
        /*grid-template-columns: auto auto;*/

    /*}*/
/*}*/


/*@media screen and (max-width: 1200px) {*/
/*.wrapper{*/
    /*grid-template-columns: auto;*/

/*}*/
/*}*/
