.article{
    display: grid;
    grid-template-columns: 240px 1fr;
    margin: 50px;
}

.wrapper{
    margin-top: 50px;

}

.news_image{
    width: auto;
    height: 180px;
    max-width: 200px;
}


.pagina_no{
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.pagina_no a, .pagina_no p {
    text-decoration: none;

}

@media only screen and (max-width: 570px) {
    .article {
        grid-template-columns: 1fr;

    }

    }
